<%- include('../includes/head.ejs') %>
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage.length > 0) {%>
          <div class="user-message user-message--error">
              <%= errorMessage%>
          </div>
        <% } %>
      <form action="/login" method="POST" class="product-form">
        <div class="form-control">
          <label for="email">Email:</label>
          <input 
            type="email" 
            name="email" 
            id="email"
            value="<%= oldInputs.email %>"
            class="<%= validationErrors ? 'invalid' : '' %>" />
        </div>
        <div class="form-control">
          <label for="password">Password:</label>
          <input 
            type="password" 
            name="password" 
            id="password" 
            value="<%= oldInputs.password %>"
            class="<%= validationErrors ? 'invalid' : '' %>" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <button class="btn" type="submit">Login</button>
        </form>
        <div class= "centered">
          <a href="/reset">Reset Password</a>
        </div>
    </main>
 <%- include('../includes/end.ejs') %>