<%- include('../includes/head.ejs') %>
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage.length > 0) {%>
          <div class="user-message user-message--error">
              <%= errorMessage%>
          </div>
        <% } %>
      <form action="/reset" method="POST" class="product-form">
        <div class="form-control">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <button class="btn" type="submit">Send</button>
        </form>
    </main>
 <%- include('../includes/end.ejs') %>