<%- include('../includes/head.ejs') %>
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>

    <main>
      <% if (errorMessage.length > 0) {%>
        <div class="user-message user-message--error">
            <%= errorMessage%>
        </div>
      <% } %>
      <form action="/signin" method="POST" class="product-form" novalidate>
        <div class="form-control">
          <label for="email">Email:</label>
          <input 
            type="email" 
            name="email" 
            id="email" 
            value="<%= oldInputs.email%>" 
            class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : ''%>"/>
        </div>
        <div class="form-control">
          <label for="password">Password:</label>
          <input
             type="password" 
             name="password" 
             id="password" 
             value="<%= oldInputs.password %>" 
             class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"/>
        </div>
        <div class="form-control">
          <label for="confirm-password">Confirm Password:</label>
          <input 
            type="password" 
            name="confirmPassword" 
            id="confirmPassword" 
            value="<%= oldInputs.confirmPassword %>".
            class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"/>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
        <button class="btn" type="submit">Sign In</button>
        </form>
    </main>
 <%- include('../includes/end.ejs') %>