<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <main>
           <% for(let item of cart) {%>
            <h1><%= item.productId.title%> (<%= item.quantity%>)</h1>
            <h3>$<%= item.productId.price%> (each)</h3>
            <hr>
           <%}%>
      <h2>Total: <%= totalAmount%></h2>
   </main>
<%- include('../includes/end.ejs')%>