<%- include('../includes/head.ejs')%>
</head>
<body>
<%- include('../includes/navigation.ejs')%>

    <main>
        <% if (orders.length <= 0) {%>
        <h1>No Orders yet!</h1>
        <% } else { %>
        <ul>
            <% orders.forEach( order => {%>
                <li>
                    <h5>
                        Order #: <%= order._id %>
                    </h5>
                    <ul>
                        <% order.products.forEach(item => {%>
                    <li><h2><%= item.product.title%> (<%= item.quantity%>)</h2></li>        
                        <%})%>
                    </ul>
                </li>
                <%})%>
        </ul>
        <%  } %>
    </main>
<%- include('../includes/end.ejs')%>
