<%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <main class="info">
        <div>
            <img class="imgDetail"src="<%= product.imageURL %>" alt="<%= product.title%>">
        </div>
        <hr>
        <div >
            <h1><%= product.title %></h1>
            <h3>$<%= product.price%></h3>
            <p><%= product.description%></p>
        </div>
        <form action="/cart" method="POST">
        <input type="hidden" value="<%= product.id%>" name="productId">
        <% if (isAuthenticated) {%>
            <button type="submit" class="btn">Add to Cart</button>
        <% } %>    
    </form>
    </main>
<%- include('../includes/end.ejs')%>